* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  filter: blur(10%);
  background-image: url(./assets/img/08_opt.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 400px;
  padding: 10px 30px;
  font-size: 1.5rem;
  border: 1px solid lightgray;
  background-color: teal;
  color: white;
  box-shadow: 2px 2px 5px black;
}

.video {
  display: none;
}

.video-display {
  display: block;
  margin: -460px;
  height: 110vh;
}
